@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.container>form>div {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.container>form>div *:not(label) {
  padding: 8px;
}

@media screen and (min-width: 600px) {
  .container>form {
    max-width: 550px;
    background-color: #fafafa;
    border: 1px solid #999;
  }
}